
<div class="container">
  <div class="row">
    <div class="forms">
      <%= form_for @user, url: sessions_login_path do |p| %>
        <%= p.label :username %><br><br>
        <%= p.text_field :username %><br><br>
            <%= p.submit "Log in", class:"btn"%> |
            <%= link_to 'Register', new_user_path %>
      <% end %>
    </div>

  </div>
  </div>