<%= render partial: 'nav_footer/nav' %>
<div class="articles">
  <%= link_to 'My articles', user_articles_path(@current_user), class: 'myart'%>
</div>
<div class="container">
  <div class="row">

    <%= form_for @article do |a| %>
        <p class="red-text text-darken-2"><%= title_error(@article) %></p>
      <%= a.text_field :title, placeholder:"title"%><br>
        <p class="red-text text-darken-2"><%= text_error(@article) %></p>
      <%= a.text_area :text, placeholder:"body", class:"materialize-textarea"%><br>
      <%= a.file_field :image, placeholder:"Add an image", class:""%><br><br>
      <div class="form-group">
          <p class="red-text text-darken-2"><%= cat_error(@article) %></p>
          <%= a.collection_select(:category_id, Category.all, :id, :name, :prompt => 'Select') %>
      </div><br><br>
          <%= a.submit class:"btnn" %>
        
    <% end %><br>
  </div>
  </div>
