<div class="container">
  <div class="flash">
    <p class="flow-text text-darken-3x"><%= flash.notice %></p>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="forms">
      <% if @user.errors.any? %>
        <div>
          <ul>
            <% @user.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <h3><%= @user.name%></h3>
      <%= form_for @user do |p| %>
        <div class="input-field col s6">
          <%= p.text_field :name, placeholder:"Enter a name", class:'validate'%><br><br>
          <%= p.label :name %>
          <%= p.submit class:'btnn'%> |
          <%= link_to 'Login', new_session_path, class:"links" %>
      <% end %>
    </div>

    </div>
  </div>

</div>
