<div class="row">
  <% @most_voted_art.each do |article| %>
  <div class="col s12 m12 l12">
    <div class="card most_voted" style="background-image: url('<%= rails_blob_url(article.image) if article.image.attached? %>');">
      <div class="card-content white-text">
        <span class="card-title"><%= link_to article.title, article_path(article), class: 'links'%><span class="badge">(The most voted)</span></span><br>

        <p><%= article.text.truncate(50)%></p>
      </div>
</div>
    <%end %>
</div>
  <div class="row">
    <% @categories.each do |cat| %>

      <div class="col s12 m6 l3">

        <div class="card small" style="background-image: url('<%= rails_blob_url(cat.image) if cat.image.attached? %>');">
          <div class="card-content white-text">
            <span class="card-title"><%= link_to cat.name, category_path(cat), class: 'links' %></span>

          </div>
        </div>
      </div>

    <% end %>
  </div>
