
 <div class="row">
    <div class="col m6 l6 start">
      <%= image_tag 'guy.jpg' %>
    </div>
    <div class="col m6 l6">
      <h1 class="flow-text">Welcome to LifeBlog</h1>
      <p class="flow-text"> You will create or read articles, <%= link_to 'Join', new_user_path,class:"links" %> or <%= link_to 'Sign in', new_session_path, class:"links" %> if you have an account or
        <%= link_to "Read articles", no_user_articles_path, class: 'links' %> |  <%= link_to "Categories", no_user_categories_path, class: 'links' %>
        . Enjoy!</p>
    </div>
  </div>
