  <nav>
    <div class="nav-class">
      <%= link_to 'LifeBlog', home_index_path, class:'brand-logo flow-text' %>
      <ul id="nav-mobile" class="center-ul hide-on-med-and-down">
          <li><%= link_to "Home", home_index_path, class: 'login' %></li>
          <li><%= link_to "Recent articles", articles_path, class: 'login' %></li>
          <li><%= link_to "Write your article", new_article_path, class: 'login' %></li>
      </ul>
      <% if user_signed_in? %>

        <div class="logout">
        <span class="nav-links"><%= link_to "Logout", destroy_user_session_path, method: :delete, class:"login"%></span>
        <span class="nav-links"><%=  link_to "Edit profile", edit_user_registration_path(@current_user),  class: 'login' %></span>
        <span class="nav-links"><%= image_tag(current_user.avatar,:class => "user-img responsive-img", alt: "user image") if current_user.avatar.attached?%></span>
        <<span class="nav-links"><%= current_user.username %></span>
        <% else %>
        <div class="in-out">
          <%=  link_to "Login | Register", user_session_path,  class: 'login' %>
        </div>
        <% end %>
    </div>
  </nav>
