<div class="navbar-fixed">
  <nav>
    <div class="nav-class">
      <%= link_to 'LifeBlog', home_index_path, class:'brand-logo flow-text' %>
      <ul id="nav-mobile" class="center-ul hide-on-med-and-down">
          <li><%= link_to "Home", home_index_path, class: 'login' %></li>
          <li><%= link_to "Recent articles", articles_path, class: 'login' %></li>
          <li><%= link_to "Write your article", new_article_path, class: 'login' %></li>
      </ul>
      <% if user_signed_in? %>

        <div class="logout">
        <%= link_to "Sign Out", destroy_user_session_path, :method => "delete", class:"login"%>           
        <span class="#f57c00-text flow-text badge"><%= current_user.username %></span>
        </div>
        <% else %>
        <div class="in-out">
          <%=  link_to "Login | Register", user_session_path,  class: 'login' %>
        </div>
        <% end %>
    </div>
  </nav>
</div>
