<%= render partial: 'nav_footer/nav' %>
<div class="row">
  <%@cat_articles.each do |cat_art| %>
      <div class="col s12 m6 l6">
          <div class="carte">
            <div class="row">
              <div class="col s12 m6 l6">
                <div class="cat-img"> <%= image_tag(cat_art.image) if cat_art.image.attached?%></div>
              </div>
              <div class="col s12 m6 l6">
              <div class="title">
                <%= @category.name %>
              </div>
              <div class="text">
                <p>
                  <strong><%= cat_art.title %></strong><br>
                  <%= cat_art.text.truncate(200) %><br>
                </p>
              </div>
            </div>
          </div>
          <%= link_to 'Read more', article_path(cat_art)%>
        </div>
      </div>
  <% end %>
  <%= render partial: 'nav_footer/footer' %>
